In [1]:
import pandas as pd
import Data_Manager as dm
from datetime import datetime as dt

In [2]:
rows = dm.read_teams() 
teams = pd.DataFrame(rows, columns=['team_id', 'name', 'link'])

teams.set_index('team_id', inplace = True)

teams.info()
teams.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 1 to 138
Data columns (total 2 columns):
name    138 non-null object
link    138 non-null object
dtypes: object(2)
memory usage: 3.2+ KB

                            name                      link
team_id
134         FC Bayern München II     fc-bayern-muenchen-ii
135             VfB Stuttgart II          vfb-stuttgart-ii
136          SV Werder Bremen II       sv-werder-bremen-ii
137                SV Elversberg             sv-elversberg
138      SG Sonnenhof Großaspach  sg-sonnenhof-grossaspach

In [3]:
rows = dm.read_games()
games = pd.DataFrame(rows, columns = ['game_id','team1_id','tore_heim','tore_aus','team2_id','day','liga'])

games['datetime'] = [dt.strptime(element, '%Y-%m-%d') for element in games['day']]
games.drop('day', axis=1, inplace=True)
games['tor_diff'] = games['tore_heim'] - games['tore_aus']
games.set_index('game_id', inplace = True)

games.info()
games.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33640 entries, 1 to 33640
Data columns (total 7 columns):
team1_id     33640 non-null int64
tore_heim    33640 non-null int64
tore_aus     33640 non-null int64
team2_id     33640 non-null int64
liga         33640 non-null object
datetime     33640 non-null datetime64[ns]
tor_diff     33640 non-null int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.1+ MB

         team1_id  tore_heim  tore_aus  team2_id   liga   datetime  tor_diff
game_id
33636          33          2         3        61  3liga 2019-05-18        -1
33637         120          4         0        52  3liga 2019-05-18         4
33638          45          2         3        78  3liga 2019-05-18        -1
33639         104          1         1        29  3liga 2019-05-18         0
33640         131          1         2        72  3liga 2019-05-18        -1

In [4]:
bl_games = games[games['liga'] == 'bundesliga']

In [5]:
rows = dm.read_quotes()
quotes = pd.DataFrame(rows, columns = ['quote_id','date','game_id','quote_sieg','quote_un','quote_lost'])

quotes['datetime'] = [dt.strptime(element, '%d.%m.%Y %H:%M') for element in quotes['date']]
quotes.drop('date', axis=1, inplace=True)
quotes.set_index('quote_id', inplace = True)

quotes.info()
quotes.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 5 columns):
game_id       1000 non-null int64
quote_sieg    1000 non-null object
quote_un      1000 non-null object
quote_lost    1000 non-null object
datetime      1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 46.9+ KB

,game_id,quote_sieg,quote_un,quote_lost,datetime
quote_id,,,,,
1,17078,1.45 (Ø 1.37),6.15 (Ø 5.67),8.00 (Ø 7.17),2019-05-18 15:30:00
2,17073,7.00 (Ø 6.05),5.25 (Ø 4.97),1.50 (Ø 1.47),2019-05-18 15:30:00
3,17076,4.40 (Ø 4.15),5.00 (Ø 4.75),1.75 (Ø 1.68),2019-05-18 15:30:00
4,17077,1.40 (Ø 1.32),6.50 (Ø 5.92),9.10 (Ø 8.18),2019-05-18 15:30:00
5,17075,1.75 (Ø 1.66),4.50 (Ø 4.23),5.25 (Ø 4.79),2019-05-18 15:30:00

In [6]:
Spieler = pd.read_csv('SpielIDSpielerID.csv', skipinitialspace= True, names=['spiel_id', '1' , '2', '3', '4', '5', '6', '7', '8', '9', '10', '11','12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22'])
Spieler.set_index('spiel_id', inplace =True)

In [7]:
Spieler.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17076 entries, 1 to 17078
Data columns (total 22 columns):
1     17076 non-null int64
2     17076 non-null int64
3     17076 non-null int64
4     17076 non-null int64
5     17076 non-null int64
6     17076 non-null int64
7     17076 non-null int64
8     17076 non-null int64
9     17076 non-null int64
10    17076 non-null int64
11    17076 non-null int64
12    17076 non-null int64
13    17076 non-null int64
14    17076 non-null int64
15    17076 non-null int64
16    17076 non-null int64
17    17076 non-null int64
18    17076 non-null int64
19    17076 non-null int64
20    17076 non-null int64
21    17076 non-null int64
22    17076 non-null int64
dtypes: int64(22)
memory usage: 3.0 MB

In [8]:
bl_mit_spieler = bl_games.join(Spieler)

In [14]:
bl_mit_spieler.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17078 entries, 1 to 17078
Data columns (total 29 columns):
team1_id     17078 non-null int64
tore_heim    17078 non-null int64
tore_aus     17078 non-null int64
team2_id     17078 non-null int64
liga         17078 non-null object
datetime     17078 non-null datetime64[ns]
tor_diff     17078 non-null int64
1            17076 non-null float64
2            17076 non-null float64
3            17076 non-null float64
4            17076 non-null float64
5            17076 non-null float64
6            17076 non-null float64
7            17076 non-null float64
8            17076 non-null float64
9            17076 non-null float64
10           17076 non-null float64
11           17076 non-null float64
12           17076 non-null float64
13           17076 non-null float64
14           17076 non-null float64
15           17076 non-null float64
16           17076 non-null float64
17           17076 non-null float64
18           17076 non-null float64
19           17076 non-null float64
20           17076 non-null float64
21           17076 non-null float64
22           17076 non-null float64
dtypes: datetime64[ns](1), float64(22), int64(5), object(1)
memory usage: 4.5+ MB

In [15]:
bl_mit_spieler.to_csv('bl_mit_spieler.csv')