In [1]:
import pandas as pd
import Data_Manager as dm
from datetime import datetime as dt

In [2]:
rows = dm.read_teams() 
teams = pd.DataFrame(rows, columns=['team_id', 'name', 'link'])

teams.set_index('team_id', inplace = True)

teams.info()
teams.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 1 to 138
Data columns (total 2 columns):
name    138 non-null object
link    138 non-null object
dtypes: object(2)
memory usage: 3.2+ KB

                            name                      link
team_id
134         FC Bayern München II     fc-bayern-muenchen-ii
135             VfB Stuttgart II          vfb-stuttgart-ii
136          SV Werder Bremen II       sv-werder-bremen-ii
137                SV Elversberg             sv-elversberg
138      SG Sonnenhof Großaspach  sg-sonnenhof-grossaspach

In [3]:
rows = dm.read_games()
games = pd.DataFrame(rows, columns = ['game_id','team1_id','tore_heim','tore_aus','team2_id','day','liga'])

games['datetime'] = [dt.strptime(element, '%Y-%m-%d') for element in games['day']]
games.drop('day', axis=1, inplace=True)
games['tor_diff'] = games['tore_heim'] - games['tore_aus']
games.set_index('game_id', inplace = True)

games.info()
games.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33640 entries, 1 to 33640
Data columns (total 7 columns):
team1_id     33640 non-null int64
tore_heim    33640 non-null int64
tore_aus     33640 non-null int64
team2_id     33640 non-null int64
liga         33640 non-null object
datetime     33640 non-null datetime64[ns]
tor_diff     33640 non-null int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.1+ MB

         team1_id  tore_heim  tore_aus  team2_id   liga   datetime  tor_diff
game_id
33636          33          2         3        61  3liga 2019-05-18        -1
33637         120          4         0        52  3liga 2019-05-18         4
33638          45          2         3        78  3liga 2019-05-18        -1
33639         104          1         1        29  3liga 2019-05-18         0
33640         131          1         2        72  3liga 2019-05-18        -1

In [4]:
games[games['liga'] == 'bundesliga']

,team1_id,tore_heim,tore_aus,team2_id,liga,datetime,tor_diff
game_id,,,,,,,
1,40,1,1,42,bundesliga,1963-08-24,0
2,28,3,2,10,bundesliga,1963-08-24,1
3,39,1,1,25,bundesliga,1963-08-24,0
4,33,1,4,9,bundesliga,1963-08-24,-3
5,52,1,1,11,bundesliga,1963-08-24,0
6,26,1,1,54,bundesliga,1963-08-24,0
7,18,0,2,49,bundesliga,1963-08-24,-2
8,35,2,0,2,bundesliga,1963-08-24,2
9,11,1,0,26,bundesliga,1963-08-31,1
10,10,3,3,52,bundesliga,1963-08-31,0
11,9,3,1,39,bundesliga,1963-08-31,2
12,54,4,2,18,bundesliga,1963-08-31,2
13,25,2,3,35,bundesliga,1963-08-31,-1
14,49,4,0,33,bundesliga,1963-08-31,4
15,42,3,0,28,bundesliga,1963-08-31,3
16,2,2,0,40,bundesliga,1963-08-31,2
17,40,2,2,25,bundesliga,1963-09-07,0
18,28,2,2,2,bundesliga,1963-09-07,0
19,39,2,3,42,bundesliga,1963-09-07,-1
20,33,0,4,54,bundesliga,1963-09-07,-4
21,52,1,3,49,bundesliga,1963-09-07,-2
22,26,4,2,9,bundesliga,1963-09-07,2
23,18,2,2,11,bundesliga,1963-09-07,0
24,35,3,1,10,bundesliga,1963-09-07,2
25,11,2,0,33,bundesliga,1963-09-14,2
26,10,2,1,18,bundesliga,1963-09-14,1
27,9,1,3,40,bundesliga,1963-09-14,-2
28,54,3,0,39,bundesliga,1963-09-14,3
29,25,3,0,28,bundesliga,1963-09-14,3
30,49,2,2,35,bundesliga,1963-09-14,0
...,...,...,...,...,...,...,...
17049,2,1,0,53,bundesliga,2019-04-27,1
17050,37,1,4,41,bundesliga,2019-04-28,-3
17051,42,1,1,44,bundesliga,2019-04-28,0
17052,55,3,3,30,bundesliga,2019-05-03,0
17053,44,3,1,5,bundesliga,2019-05-04,2
17054,53,2,2,37,bundesliga,2019-05-04,0
17055,40,3,1,2,bundesliga,2019-05-04,2
17056,41,2,0,42,bundesliga,2019-05-04,2
17057,28,2,2,10,bundesliga,2019-05-04,0
17058,35,0,0,1,bundesliga,2019-05-05,0
17059,56,1,1,27,bundesliga,2019-05-05,0
17060,36,6,1,39,bundesliga,2019-05-05,5
17061,37,0,1,28,bundesliga,2019-05-11,-1
17062,10,3,2,27,bundesliga,2019-05-11,1
17063,36,1,1,35,bundesliga,2019-05-11,0
17064,30,0,0,44,bundesliga,2019-05-11,0
17065,2,3,0,41,bundesliga,2019-05-11,3
17066,1,3,4,40,bundesliga,2019-05-11,-1
17067,5,3,0,56,bundesliga,2019-05-11,3
17068,42,0,4,53,bundesliga,2019-05-11,-4
17069,39,0,2,55,bundesliga,2019-05-12,-2
17070,44,5,1,39,bundesliga,2019-05-18,4
17071,35,0,0,2,bundesliga,2019-05-18,0
17072,53,0,2,10,bundesliga,2019-05-18,-2
17073,40,1,5,36,bundesliga,2019-05-18,-4
17074,28,2,1,30,bundesliga,2019-05-18,1
17075,56,5,1,42,bundesliga,2019-05-18,4
17076,55,4,2,37,bundesliga,2019-05-18,2
17077,41,8,1,1,bundesliga,2019-05-18,7
17078,27,2,1,5,bundesliga,2019-05-18,1

In [5]:
rows = dm.read_quotes()
quotes = pd.DataFrame(rows, columns = ['quote_id','date','game_id','quote_sieg','quote_un','quote_lost'])

quotes['datetime'] = [dt.strptime(element, '%d.%m.%Y %H:%M') for element in quotes['date']]
quotes.drop('date', axis=1, inplace=True)
quotes.set_index('quote_id', inplace = True)

quotes.info()
quotes.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 5 columns):
game_id       1000 non-null int64
quote_sieg    1000 non-null object
quote_un      1000 non-null object
quote_lost    1000 non-null object
datetime      1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 46.9+ KB

,game_id,quote_sieg,quote_un,quote_lost,datetime
quote_id,,,,,
1,17078,1.45 (Ø 1.37),6.15 (Ø 5.67),8.00 (Ø 7.17),2019-05-18 15:30:00
2,17073,7.00 (Ø 6.05),5.25 (Ø 4.97),1.50 (Ø 1.47),2019-05-18 15:30:00
3,17076,4.40 (Ø 4.15),5.00 (Ø 4.75),1.75 (Ø 1.68),2019-05-18 15:30:00
4,17077,1.40 (Ø 1.32),6.50 (Ø 5.92),9.10 (Ø 8.18),2019-05-18 15:30:00
5,17075,1.75 (Ø 1.66),4.50 (Ø 4.23),5.25 (Ø 4.79),2019-05-18 15:30:00